<% if @current_game.winner_id == @current_user.id %>
  <h1 class="over-text">Well played, <%= @current_user.username.capitalize %>. You win!</h1>
<% else %>
  <h1 class="over-text">You lost the battle, <%= @current_user.username.capitalize %>, but did you lose the war?</h1>
<% end %>
