.opener {
  background: asset-data-url("ship.jpeg") no-repeat center center fixed;
  background-size: cover;
  width:100%;
  height:100%;
  color: black;
  font-family: verdana, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

a {
  color: black;

  &:hover {
    font-weight: bold;
  }
}

nav h2 {
  font-weight: bold;
  font-size: 14;
  padding: 5px 5px 5px 15px;
}

#firstpage{
  padding-top: 10%;
  display: block;
  margin: auto;
}

.entry{
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #A8A6A7;
}

.button{
  text-decoration: none;
  height: 30px;
  font-size: 20;
  margin-top: 15px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #262527;
  color: #D1CFD0;
}

#disastergirl {
  background: asset-data-url("disaster-girl3.jpg") no-repeat fixed;
  text-align: center;
}
